label{
    font-weight: 700;
    @media(max-width:767px){
       font-size:8px;
       font-weight: 600;
    }
}
small{
    font-weight: 700;
    @media(max-width:767px){
        font-size:5px;
        font-weight: 600;
     }
}
input.chk-box{
    width: 30px;
    height: 30px;
    margin-block: auto;
    @media(max-width:767px){
        width: 10px;
        height: 10px;
     }
}
input[type=text]{
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;  
}
input[type=number]{
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;  
}
input[type=number]{
    font-size: 15px;
}
textarea{
    font-size: 16px;
    resize: none;
    border: none;
}


.print__button{
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: sticky;
    top: 0;
    margin-left: 80vw;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  
  .print__button:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .print__button {
      padding: 16px 44px;
      min-width: 150px;
    }
  }

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.main-file{
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255) ;
    height: 1540px;
    /* height: 100%; */
    width: 1136px;
    padding-bottom:2rem;
    margin-bottom: 4rem;
    /* @media(max-width:767px){
        width: 100%;
        margin-left:10rem ;
        
    } */
}

.table{
    width: 1000px;
    height: 1010px;
    margin-inline: auto;
    margin-top:1rem;
    /* @media(max-width:767px){
        width: 80%;
        margin-left:11rem;
        height: 1010px;
    } */
}

.first-row{
    display: flex;
    width: 100%;
    height: 42px;
    background-color: white;
    border: 1px solid;
    border-color: darkgoldenrod;
}

.fr-column-one{
   display: flex;
   align-items: center;
   height: 100%;
   width: 50%;
}

.fr-column-two{
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}
.fr-column-sec-start{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}
.fr-column-sec-middle{
    height: 100%;
    width: 50%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}
.fr-column-sec-end{
    height: 100%;
    width: 25%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}

.second-row{
    display: flex;
    width: 100%;
    height: 4%;
    background-color: white;

}

.row-address{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid darkgoldenrod;
}
.ra-first-column{
    height: 100%;
    width: 50%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}
.ra-second-column{
    height: 100%;
    width: 50%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}

.row-car{
    display: flex;
    height: 40%;
    width: 100%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}

.rc-start-column{
    height:100%;
    width: 34%;
    border: 1px solid darkgoldenrod;
    background-color:#dddddf;
}
.rc-middle-column{
    height:100%;
    width: 34%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}
.rc-end-column{
    height:100%;
    width: 34%;
    border: 1px solid darkgoldenrod;
    background-color: #fff2e6;
}
.rc-start-column-r1{
    height:14%;
    width: 100%;
  
}
.rc-start-column-r2{
    display: flex;
    height: 86%;
    width: 100%;
    border: 1px solid darkgoldenrod;
}

.rc-start-column-r2-imggp{
    width: 60%;
    height: 100%;

}
.rc-start-column-r2-txtgp{
    width: 40%;
    height: 100%;
   
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
}
.checkbox-txt{
    display: flex;
    flex-direction: column;
    margin-block: 9px;
}
.rc-middle-column-r1{
    height:14%;
    width: 100%;
    background-color: rgb(229, 222, 203);
   
}
.rc-middle-column-r2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color: rgb(255, 255, 255);
}
.rc-middle-column-r2-r1{
    display: flex;
    width: 100%;
    border: 1px solid darkgoldenrod;
    /* border-color: darkgoldenrod; */
    background-color: rgb(255, 255, 255);
    height: 40%;
}

.rc-middle-column-r2-r1-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}

.rc-middle-column-r2-r1-middle{
    display: flex;
    flex-direction: column;
    width: 50%;
    height:100%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}
.rc-middle-column-r2-r1-end{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    border: 1px solid darkgoldenrod;
    background-color: rgb(255, 255, 255);
}

.rc-middle-column-r3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 21px;
    font-size: 20px;
    margin:14px;
    width: 80%;
    background-color:#cc9900;
    height: 11%;
}
.rc-middle-column-r4{
    width: 95%;
    margin: 7px;
    height: 36%;
    
}
.rc-middle-column-r4-column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24%;
    border: 1px solid darkgoldenrod;
    height: 100%;
    
}
.rc-middle-column-r4-hr1{
    display: flex;
    width: 100%;
    height: 29%;
    background-color: #cc9900;
    border: 1px solid darkgoldenrod;
   
}

.rc-middle-column-r4-r2{
    display: flex;
    width: 100%;
    height: 23%;
    border: 1px solid darkgoldenrod;

}

.row-date{
    height: 18%;
    width: 100%;
    border: 1px solid darkgoldenrod;
    display: flex;
}
.row-date-c1{
    height: 100%;
    width: 35%;
    
}
.row-date-c2{
    height: 100%;
    width: 35%;
    border: 1px solid darkgoldenrod;

}
.row-date-c3{
    height: 100%;
    width: 35%;
    border: 1px solid darkgoldenrod;

}

.row-date-c1-r1{
    display: flex;
    width: 100%;
    height: 33%;
    
}
.row-date-c1-r1-c1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    border: 1px solid darkgoldenrod;
}
.row-date-c1-r1-c2{
    width: 40%;
    height: 95%;
    border: 1px solid darkgoldenrod;
}
.row-date-c1-r1-c3{
    width: 30%;
    height: 100%;
    border: 1px solid darkgoldenrod;
}
.row-date-c2-r1{
    display: flex;
    width: 100%;
    height: 50%;
}


.row-bottom{
    height: 39%;
    width: 100%;
    display: flex;
}
.row-bottom-c1-r1{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    border: 1px solid darkgoldenrod;
}
.row-bottom-c1-r1-r1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;

}
.remarks{
    width: 99%;
    height: 20%;
    background-color: rgb(245, 245, 245);
    
}
.txt-remarks-middle{
    width: 50%;
    height: 100%;
}
.row-bottom-c1-r2{
    display: flex;
    flex-direction: column;
    height: 16%;
    width: 100%;
    border: 1px solid darkgoldenrod;
}
.row-bottom-c2-r1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 16%;
    border: 1px solid darkgoldenrod;
}
.row-bottom-c2-r1-txt{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 30%;
    line-break:auto ;
    @media(max-width:767px){
        font-size:8px;
        font-weight: 600;
     }
}
.row-bottom-c2-r1-txt-date{
    width: 8%;
   
    
}

.btn-print{
    position: sticky;
    top: 0;
}





